    
body {
 /* background-color: rgba(248, 247, 246, 0.267);*/
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}
h1 {
  text-align: start;
  font-family: 'Helvetica', Times, serif;
  font-size: 20px;
  color: black;
}
h3 {
  text-align: start;
  font-family: 'Helvetica', Times, serif;
  font-size: 25px;
  color: rgb(43, 77, 132);
}

/*общий контейнер*/
.container{
  display: grid;
 

}

/*контейнер со всеми фазами*/
.grid-container{
  display: grid;
  font-family: 'Helvetica', Times, serif;

  block-size: 35px;
  font-size: 15px;
  
  color: rgb(43, 77, 132);
 
}
.task{
  display: grid;
  font-family: 'Helvetica', Times, serif;
  block-size: 35px;

}

/*контейнер со всеми задачами*/
.one{
  width: 255px;
  font-size: 15px;
  display: grid;
  grid-column: 1 / 2;
  padding: 0.5em;
  margin-right: 3px;
  
}
.two{
  display: grid;
  font-size: 15px;
  padding: 0.5em;
  grid-column: 2 / 3;
  width: 255px;
  margin-right: 3px;
 

}
.three{
  display: grid;
  font-size: 15px;
  padding: 0.5em;
  grid-column: 3 / 4;
  margin-right: 10px;
  margin-right: 3px;
  width: 255px;


}

.four{
  display: grid;
  font-size: 15px;
  padding: 0.5em;
  grid-column: 4 / 5;
  margin-right: 7px;
 margin-right: 3px;
  width: 255px;
 

}
.five{
  display: grid;
  width: auto;
  font-size: 15px;
  padding: 0.5em;
  grid-column: 5 / 6;
  width: 255px;
  margin-right: 3px;
 

}

/*контейнер для каждой фазы по отдельности*/
.faza1
{
  font-family: 'Times New Roman', Times, serif;

  block-size: 230px;
  width: 255px;
  padding: 0.5em;
  font-size: 20px;
  display: grid;
  grid-column: 1/2;
  color: rgb(150, 167, 186);
  font-variant: normal;
  font-weight: bold;
  margin-right: 1px;
  background-color: rgb(244, 246, 249);

  
}

.faza2
{
  font-family: 'Times New Roman', Times, serif;

  block-size: 230px;
  width: 255px;
  grid-column: 2/3;
  display: grid;
  font-size: 20px;
  padding: 0.5em;
  text-align: start;
  color: rgb(150, 167, 186);
  font-variant: normal;
  font-weight: bold;
  margin-right: 1px;
  background-color: rgb(244, 246, 249);


}

.faza3
{
  font-family: 'Times New Roman', Times, serif;

  block-size: 230px;
  width: 255px;
  grid-column: 3/4;
  display: grid;
  font-size: 20px;
  padding: 0.5em;
  text-align: start;
  color: rgb(150, 167, 186);
  font-variant: normal;
  font-weight: bold;
  margin-right: 3px;
  background-color: rgb(244, 246, 249);

}

.faza4
{
  font-family: 'Times New Roman', Times, serif;

  block-size: 230px;
  width: 255px;
  grid-column: 4/5;
  display: grid;
  font-size: 20px;
  padding: 0.5em;
  text-align: start;
  color: rgb(150, 167, 186);
  font-variant: normal;
  font-weight: bold;
  margin-right: 3px;
  background-color: rgb(244, 246, 249);

  
}

.faza5
{
  font-family: 'Times New Roman', Times, serif;

  block-size: 230px;
  width: 255px;
  grid-column: 5/6;
  display: grid;
  font-size: 20px;
  padding: 0.5em;
  text-align: start;
  color: rgb(150, 167, 186);
  font-variant: normal;
  font-weight: bold;
  margin-right: 3px;
  background-color: rgb(244, 246, 249);


}

/*контейнер для каждой задачи находящейся в testing*/
.waiting
{

  padding: 10px;
  display: grid;
  margin: 5px;
  text-align: start;
  border: 1.5px solid rgb(241, 241, 241);
  grid-column: 1/2;
  background-color:white;
 
}
/*контейнер для каждой отдельной задачи находящейся в test*/
.building
{

  padding: 9px;
  display: grid;
  margin: 4px;
  text-align: start;
  border: 1.5px solid rgb(241, 241, 241);
  grid-column: 2/3;
  background-color: white;

  
}

.testing
{
  
  padding: 9px;
  display: grid;
  text-align: start;
  border: 1.5px solid rgb(241, 241, 241);
  margin: 4px;
  grid-column: 3/4;
  background-color: white;

 
}

/*контейнер для каждой задачи находящейся в testing*/
.deploying
{

  padding: 9px;
  display: grid;
  text-align: start;
  border: 1.5px solid rgb(241, 241, 241);
  margin: 4px;
  grid-column: 4/5;
  background-color: white;
}
/*контейнер для каждой отдельной задачи находящейся в test*/
.stabilizing
{
  
  padding: 9px;
  margin: 4px;
  display: grid;
  text-align: start;
  border: 1.5px solid rgb(241, 241, 241);
  grid-column: 5/6;
  background-color: white;
  
}
